body{
    background:black;
}

ul{
    list-style-type:none;
}


li{
    float:left;
    text-align:left;
    font-family:Lucida Handwriting;
   color:purple;
    display:block;
    padding:15px;
    position:relative;
    text-decoration:underline overline;
}



li{
    
}